.question__list__item__div {
    .item__question__part {
        .points__number {
            margin-left: 5px;
            color: green;
        }
        .wrong {
            color: red;
        }
    }
    .item__answers__part {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (min-width: 601px) {
    .question__list__item__div {
        .item__question__part {
            font-size: 18px;
        }
    }
    .item__answers__part {
        padding: 15px 15px 15px 25px;
    }
}

@media screen and (max-width: 600px) {
    .question__list__item__div {
        .item__question__part {
            font-size: 14px;
        }
    }
    .item__answers__part {
        padding: 15px;
    }
}