@use "../../../public/mixins";

.class__subjects__container {
  @include mixins.flex-mixin($direction: column);
  margin-top: 40px;
  .class__subject__list {
    width: 100%;
    @include mixins.flex-mixin($gap: 30px);
    flex-wrap: wrap;
  }
  .class__subject__pagination {
    width: 100%;
    @include mixins.flex-mixin();
  }
  .class__subject__pagination {
    margin: 40px 0;
  }

  .upper__part__class__subject {
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 680px) {
  .upper__part__class__subject {
    flex-direction: row;
    gap: 30px;
    .class__subject__filter__wrapper {
      min-width: 250px;
      height: fit-content;
      margin-left: 20px;
    }
  }
}
@media screen and (max-width: 679px) {
  .upper__part__class__subject {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .class__subject__filter__wrapper {
      width: 90%;
      margin: 0 10px;
      box-sizing: border-box;
    }
  }
}